
.mainDIV{
    background-color: aliceblue;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.divUserHomepage{
    height: 50vh;
    width: auto;
    background-image: url('https://www.abnewswire.com/uploads/ab8c9d9d5655ccfcac0736e8ed507935.jpg');  
    background-position: center; 
	background-repeat: no-repeat;
}

.divDocHomepage{
    height: 50vh;
    width: auto;
    background-color: rgb(34, 196, 13);
}

.div2{
    background-color: rgb(22, 145, 5);
}

.div3{
    background-color: rgb(14, 131, 233);
}
.div4{
    background-color: rgb(207, 13, 175);
}